{
  "files": [
    "**/*.ets",
    "**/*.ts",
    "**/*.js"
  ],
  "ignore": [
    "**/src/ohosTest/**/*",
    "**/src/test/**/*",
    "**/src/mock/**/*",
    "**/node_modules/**/*",
    "**/oh_modules/**/*",
    "**/build/**/*",
    "**/.preview/**/*",
	"**/*.d.ts",
  ],
  "ruleSet": [
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@hw-stylistic/curly": 2,
    "@hw-stylistic/indent": 2,
    "@hw-stylistic/keyword-spacing": 2,
    "@hw-stylistic/max-len": 2,
    "@hw-stylistic/no-multi-spaces": 2,
    "@hw-stylistic/no-tabs": 2,
    "@hw-stylistic/object-property-newline": 2,
    "@hw-stylistic/one-var-declaration-per-line": 2,
    "@hw-stylistic/operator-linebreak": 2,
    "@hw-stylistic/quotes": 2,
    "@correctness/listen-default-network-change": "warn",
    "@correctness/listen-multi-network-concurrent": "warn",
    "@cross-device-app-dev/color-value": "off",
    "@cross-device-app-dev/font-size-unit": "warn",
    "@cross-device-app-dev/font-size": "warn",
    "@cross-device-app-dev/grid-columns-span": "warn",
    "@cross-device-app-dev/grid-span-value": "warn",
    "@cross-device-app-dev/size-unit": "warn",
    "@cross-device-app-dev/color-contrast": "warn",
    "@cross-device-app-dev/touch-target-size": "warn",
    "@cross-device-app-dev/sidebar-navigation": "warn",
    "@cross-device-app-dev/one-multi-breakpoint-check": "warn",
    "@hw-stylistic/array-bracket-spacing": "warn",
    "@hw-stylistic/brace-style": "warn",
    "@hw-stylistic/comma-spacing": "warn",
    "@hw-stylistic/semi-spacing": "warn",
    "@hw-stylistic/space-before-blocks": "warn",
    "@hw-stylistic/space-before-function-paren": "warn",
    "@hw-stylistic/space-infix-ops": "warn",
    "@hw-stylistic/file-naming-convention": "warn",
    "@previewer/mandatory-default-value-for-local-initialization": "warn",
    "@previewer/no-page-method-on-preview-component": "warn",
    "@previewer/no-unallowed-decorator-on-root-component": "warn",
    "@performance/no-high-loaded-frame-rate-range": "warn",
    "@security/no-unsafe-aes": "warn",
    "@security/no-unsafe-dh": "warn",
    "@security/no-unsafe-dsa": "warn",
    "@security/no-unsafe-ecdsa": "warn",
    "@security/no-unsafe-hash": "warn",
    "@security/no-unsafe-mac": "warn",
    "@security/no-unsafe-rsa-encrypt": "warn",
    "@security/no-unsafe-rsa-sign": "warn",
    "@security/no-unsafe-dh-key": "warn",
    "@security/no-unsafe-dsa-key": "warn",
    "@security/no-unsafe-rsa-key": "warn",
    "@security/no-unsafe-3des": "warn",
    "@security/no-unsafe-ecdh": "warn",
    "@security/no-unsafe-huks": "warn",
    "@security/no-unsafe-kdf": "warn",
    "@security/no-unsafe-sm4": "warn",
    "@security/no-unsafe-sm2-cipher": "warn",
    "@security/no-unsafe-sm2-key": "warn",
    "@security/no-cycle": "warn",
    "@performance/init-list-component": "warn",
    "@performance/hp-ffrt-no-use-std": "warn",
    "@performance/hp-arkui-image-async-load": "warn",
    "@performance/hp-arkui-load-on-demand": "warn",
    "@performance/hp-arkui-remove-container-without-property": "warn",
    "@performance/hp-performance-no-dynamic-cls-func": "warn",
    "@performance/hp-performance-no-closures": "warn",
    "@performance/number-init-check": "warn",
    "@performance/sparse-array-check": "warn",
    "@performance/typed-array-check": "warn",
    "@security/no-commented-code": "warn",
    "@security/specified-interface-call-chain-check": "warn",
    "@performance/hp-arkui-no-state-var-access-in-loop": "warn",
    "@performance/hp-arkui-use-row-column-to-replace-flex": "warn",
    "@performance/hp-arkui-use-local-var-to-replace-state-var": "warn",
    "@performance/hp-arkui-avoid-empty-callback": "warn",
    "@performance/high-frequency-log-check": "warn",
    "@performance/waterflow-data-preload-check": "warn",
    "@performance/hp-arkui-combine-same-arg-animateto": "warn",
    "@performance/hp-arkui-no-func-as-arg-for-reusable-component": "warn",
    "@performance/hp-arkui-set-cache-count-for-lazyforeach-grid": "warn",
    "@performance/hp-arkui-use-object-link-to-replace-prop": "warn",
    "@performance/hp-arkui-use-reusable-component": "warn",
    "@performance/hp-arkui-use-scale-to-replace-attr-animateto": "warn",
    "@performance/hp-arkui-use-word-break-to-replace-zero-width-space": "warn",
    "@performance/hp-arkui-remove-redundant-nest-container": "warn",
    "@performance/hp-arkui-use-onAnimationStart-for-swiper-preload": "warn",
    "@performance/hp-arkui-suggest-reuseid-for-if-else-reusable-component": "warn",
    "@performance/hp-arkui-replace-nested-reusable-component-by-builder": "warn",
    "@performance/hp-arkui-avoid-update-auto-state-var-in-aboutToReuse": "warn",
    "@performance/hp-arkui-use-grid-layout-options": "warn",
    "@performance/start-window-icon-check": "warn",
    "@performance/hp-arkui-no-stringify-in-lazyforeach-key-generator": "warn",
    "@performance/hp-arkui-use-attributeUpdater-control-refresh-scope": "warn",
    "@performance/hp-arkui-use-id-in-get-resource-sync-api": "warn",
    "@performance/hp-arkui-use-transition-to-replace-animateto": "warn",
    "@performance/hp-arkui-remove-redundant-state-var": "warn",
    "@performance/hp-arkui-use-taskpool-for-web-request": "warn",
    "@performance/hp-arkui-remove-unchanged-state-var": "warn",
    "@performance/hp-arkts-no-use-any-export-current": "warn",
    "@performance/hp-arkts-no-use-any-export-other": "warn",
    "@performance/hp-arkui-suggest-cache-avplayer": "warn",
    "@performance/hp-arkui-suggest-use-effectkit-blur": "warn",
    "@performance/timezone-interface-check": "warn",
    "@performance/lottie-animation-destroy-check": "warn",
    "@performance/hp-arkui-reduce-pangesture-distance": "warn",
    "@performance/hp-arkui-suggest-use-get-anonymousid-async": "warn",
    "@performance/constant-property-referencing-check-in-loops": "warn",
    "@performance/foreach-args-check": "warn",
    "@performance/multiple-associations-state-var-check": "warn",
    "@performance/foreach-index-check": "warn",
    "@performance/js-code-cache-by-precompile-check": "warn",
    "@performance/js-code-cache-by-interception-check": "warn",
    "@performance/web-cache-mode-check": "warn",
    "@performance/gif-hardware-decoding-check": "warn",
    "@performance/web-on-active-check": "warn",
    "@correctness/audio-interrupt-check": "warn",
    "@correctness/audio-pause-or-mute-check": "warn",
    "@correctness/avsession-metadata-check": "warn",
    "@correctness/avsession-buttons-check": "warn",
    "@correctness/image-interpolation-check": "warn",
    "@correctness/image-pixel-format-check": "warn",
    "eqeqeq": "warn",
    "@performance/no-use-any-import": "warn",
    "@performance/avoid-overusing-custom-component-check": "off",
    "@performance/bad-deep-clone-check": "warn",
    "@performance/reasonable-audio-use-check": "warn",
    "@performance/reasonable-sensor-use-check": "warn",
    "@performance/reasonable-gps-use-check": "warn",
    "@performance/reuse-date-instances-check": "warn",
    "@performance/crypto-replacement-check": "warn",
    "@performance/monitor-invisible-area-in-image-animation": "warn",
    "@performance/datashare-query-unrelease-check": "warn",
    "@performance/dark-color-mode-check": "warn",
    "@cross-device-app-dev/window-size-change-listener-check": "warn",
    "@performance/update-state-var-between-animatetos-check": "warn",
    "@performance/tabs-on-change-check": "warn",
    "@performance/nested-post-frame-callback-check": "warn",
    "prefer-const": "warn",
    "@compatibility/api-compatibility-check": "warn"
  }
}
