.container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.title {
  width: 200px;
  font-size: 30px;
  text-align: center;
}


.container {
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;
}

.mode-text {
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 40px;
}

.battery-text {
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 20px;
}